<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo List </title>
    <link rel="icon" href="images/checklist.png">
    <link rel="stylesheet" href="css/styles.css">

    </head>
<body>


    <div class="todo-container">
    <h1>My To-Do List</h1>
    <div style="text-align: center;">
    <%=date%>
  <br><br>

<% collectionNames.forEach((collection, index) => { %>
  <button onclick="makeRequest('/<%= collection %>')" id="/<%= collection %>"><%= collection %></button>
<% }); %>

<br>
<br>
<form action="/createList" method="post">
    <input type="text" id="newList" name="newList"></input>
    <br>
    <button type="submit">Create List</button>
</form>
    <script src="js/script.js"></script>

    