<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo List </title>
    <link rel="icon" href="images/checklist.png">

    </head>
<body>


    <div class="todo-container">
    <h1>My To-Do List</h1>
    <div style="text-align: center;">
    <%=date%>
  <br><br>

  <button onclick="makeRequest('/')" id="/">Material List</button>
  <button onclick="makeRequest('/spiritual')" id="/spiritual">Spiritual List</button>
